<div class="banner" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.30)), url(https://wallpaperaccess.com/full/2987623.jpg);">
  <div class="container">
    <h1>Save <strong>your movies</strong></h1>
  </div>
</div>
<ul>
<div class="container">
  <div class="d-flex justify-content-between pt-4">
    <h2>My lists</h2>
    <p class="btn btn-primary"><%= link_to "Create a list", new_list_path %></p>
  </div>
    <div class="row">
      <%# <div class='col col-sm-6'> %>
            <% @lists.each do |list| %>
            <div class='col col-sm-6'>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.movies.last.poster_url %>)">
                <%= link_to list.name, list_path(list)  %>
              </div>
            </div>
            <% end %>
      </div>
    </div>

  </ul>


</div>
